<!DOCTYPE html>
<html>
  <head>
    <title>Member pass</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Enter the secret member only pass to become an admin</p>

    <form method='POST' action="">
      <input type="text" name="admin_pass">
      <button type="submit"> admin </button>
    </form>
    
  </body>
</html>
