<!DOCTYPE html>
<html>
  <head>
    <title>Create message</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Create a message</p>

    <form method='POST' action="">
      <label for="title">Title:</label>
      <input type="text" name="title">
      <br>
      <label for="text">Your message:</label>
      <input type="text" name="text"/>
      <br>
      <button type="submit"> Create message </button>
    </form>
    
  </body>
</html>
